.language-selector {
  position: relative;
  z-index: 1;
  max-width: 100%;
}

.language-select {
  width: 138px;
  max-width: 100%;
  padding: 10px 14px;
  border-radius: 7px;
  background: var(--g3m-elements);
}
